
      <table class="answer" style="width: 80%; margin-left: auto; margin-right: auto;">
      <tr><td colspan=6 style='padding: 3px; font-weight: bold; font-size: 20px; text-align: center;'> Questão <%=h question.numbe\
r %></td></tr>

